# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
# Virtual environments
venv/
env/
.venv/
.env/
# IDE specific files
.vscode/
.idea/
.ropeproject/
# coverage reports
.coverage
htmlcov/
# Miscellaneous
.DS_Store
*.log
